
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
  width: 60%;
}

.form-grid app-client-details,
.form-grid app-job,
.form-grid app-service-location,
.form-grid app-scheduled {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 9px;
}

.button-group {
  margin-top: 2em;
  display: flex;
  gap: 1em;
}
